{{#each items}}
	<div class="c-case-content{{#if settings.caseContentContextClass}}--{{settings.caseContentContextClass}}{{else}}--default{{/if}}{{#if settings.caseContentClasses}} {{settings.caseContentClasses}}{{/if}}"
		 data-css="c-case-content"
		 data-js-module="case-content"{{#if settings.caseContentJsOptions}}
		 data-js-options='{{stringify settings.caseContentJsOptions}}'{{/if}}>

		{{! INTRO SECTION}}
		{{#compare  settings.caseContentType 'intro' operator="==="}}
			<div class="left">
				<h3 class="case-content__headline">{{content.headline}}</h3>
				{{#each content.paragraphs}}
					<p class="case-content__paragraph">{{this}}</p>
				{{/each}}
			</div>
			<div class="right is-flex-row">
				{{#each content.metaList}}
					<div class="case-content__meta-item">
						<h6 class="case-content__meta-title">{{title}}</h6>
						{{#if description}}
							<p class="case-content__meta-description">{{description}}</p>
						{{/if}}
						{{#if icons}}
							<ul class="case-content__icon-list">
							{{#each icons}}
								<li class="case-content__icon is-{{this}}"></li>
							{{/each}}
							</ul>
						{{/if}}
					</div>
				{{/each}}
			</div>
		{{/compare}}
	</div>
{{/each}}

