<div class="c-scroll-item{{#if
	settings.scrollItemContextClass}}--{{settings.scrollItemContextClass}}{{else}}--default{{/if}} section{{#if
	settings.scrollItemClasses}} {{settings.scrollItemClasses}}{{/if}}"
	 data-css="c-scroll-item"
	 data-js-item="scroll-item"
	 data-js-module="scroll-item"{{#if settings.scrollItemJsOptions}}
	 data-js-options='{{stringify settings.scrollItemJsOptions}}'{{/if}}>

	 <div class="scroll-item__bg"></div>

	{{docs.variationName}}
</div>
