<div class="c-case-magine-a{{#if
	settings.caseMagineAContextClass}}--{{settings.caseMagineAContextClass}}{{else}}--default{{/if}}{{#if
	settings.caseMagineAClasses}} {{settings.caseMagineAClasses}}{{/if}}"
	 data-css="c-case-magine-a">

	<img src="{{getUrl "media/images/svg/case-magine-a_bg-top.svg"}}" class="case-magine-a__intro-image"/>
	<img src="{{getUrl "media/images/png/splash.png"}}" class="case-magine-a__intro-splash"/>

	<div class="case-magine-a__section-wrapper">
		<section class="case-magine-a__intro is-grid-row">
			<div class="is-col-12">
				<h3 class="case-magine-a__headline is-headline" data-number="1">{{content.intro.headline}}</h3>
			</div>
			<div class="is-col-7">
				<p class="case-magine-a__paragraph">{{content.intro.text}}</p>
			</div>
		</section>
		<section class="case-magine-a__colors is-section is-grid-row">
			<div class="is-col-12">
				<h3 class="case-magine-a__subline is-subline">{{content.colors.subline}}</h3>
			</div>
			<div class="is-col-8">
				<p class="case-magine-a__paragraph">{{content.colors.text}}</p>
			</div>
			<div class="is-col-12">
				{{#with content.colors.content}}
					{{> color}}
				{{/with}}
			</div>
		</section>
		<section class="case-magine-a__packages is-section is-grid-row">
			<div class="is-col-12">
				<h3 class="case-magine-a__subline is-subline">{{content.packages.subline}}</h3>
			</div>
			<div class="is-col-8">
				<p class="case-magine-a__paragraph">{{content.packages.text}}</p>
			</div>
			<div class="is-col-10 is-offset-1">
				{{#with content.packages.image}}
					{{> c-picture}}
				{{/with}}
			</div>
		</section>
		<section class="case-magine-a__epg is-section">
			{{#with content.epg.image}}
				{{> c-picture}}
			{{/with}}
			<div class="is-grid-row">
				<div class="is-col-8 is-offset-2">
					<p class="case-magine-a__caption">
						{{content.epg.caption}}
					</p>
				</div>
			</div>
		</section>
		<section class="case-magine-a__player is-section">
			<div class="is-grid-row">
				<div class="is-col-6">
					{{#with content.player.image-1}}
						{{> c-picture}}
					{{/with}}
				</div>
				<div class="is-col-6">
					<h3 class="case-magine-a__subline is-subline">{{content.player.subline}}</h3>
					<p class="case-magine-a__paragraph">{{content.player.text}}</p>
				</div>
			</div>
			<div class="is-grid-row">
				<div class="is-col-12">
					{{#with content.player.image-2}}
						{{> c-picture}}
					{{/with}}
				</div>
			</div>
			<div class="is-grid-row">
				<div class="is-col-6">
					{{#with content.player.image-3}}
						{{> c-picture}}
					{{/with}}
				</div>
				<div class="is-col-6 is-flex-end">
					<p class="case-magine-a__caption">{{content.player.caption}}</p>
				</div>
			</div>
		</section>
		<section class="case-magine-a__web is-section">
			<div class="is-grid-row">
				<div class="is-col-12">
					<h3 class="case-magine-a__headline is-headline" data-number="2">{{content.web.headline}}</h3>
				</div>
				<div class="is-col-7">
					<p class="case-magine-a__paragraph">{{content.web.text}}</p>
				</div>
			</div>
			<div class="is-grid-row">
				{{#with content.web.image}}
					{{> c-picture}}
				{{/with}}
			</div>
			<div class="is-grid-row">
				<div class="is-col-8 is-offset-2">
					<p class="case-magine-a__caption">
						{{content.web.caption}}
					</p>
				</div>
			</div>
		</section>
		<section class="case-magine-a__mediathek is-section">
			<div class="is-grid-row">
				<div class="is-col-8 is-offset-4">
					<p class="case-magine-a__caption">
						{{content.mediathek.caption}}
					</p>
				</div>
			</div>
			<div class="is-grid-row">
				{{#with content.mediathek.image}}
					{{> c-picture}}
				{{/with}}
			</div>
		</section>
		<section class="case-magine-a__single is-section">
			<div class="is-grid-row">
				<div class="is-col-10 is-offset-1">
					{{#with content.single.image}}
						{{> c-picture}}
					{{/with}}
				</div>
			</div>
		</section>
		<section class="case-magine-a__channel is-section">
			<div class="is-grid-row">
				{{#with content.channel.image}}
					{{> c-picture}}
				{{/with}}
			</div>
		</section>
		<section class="case-magine-a__touch is-section">
			<div class="is-grid-row">
				<div class="is-col-12">
					<h3 class="case-magine-a__headline is-headline" data-number="3">{{content.touch.headline}}</h3>
				</div>
				<div class="is-col-7">
					<p class="case-magine-a__paragraph">{{content.touch.text}}</p>
				</div>
			</div>
			{{#with content.touch.image}}
				{{> c-picture}}
			{{/with}}
		</section>
	</div>
</div>



