

<div class="c-logo{{#if settings.logoContextClass}}--{{settings.logoContextClass}}{{else}}--default{{/if}}{{#if settings.logoClasses}} {{settings.logoClasses}}{{/if}}"
     data-css="c-logo"
     data-js-module="logo"{{#if settings.logoJsOptions}}
     data-js-options='{{stringify settings.logoJsOptions}}'{{/if}}>

     <img src="{{getUrl "media/images/svg/logo-color.svg"}}" />

</div>
